# Git
.git
.gitignore

# Environment
.env
.env.local

# IDE
.idea
.vscode
*.iml

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
dist/
build/
npm-debug.log*
